@import url(../fonts/stylesheet.css);
@import url(../fonts/imoon/style.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Segoe UI", sans-serif;
  position: relative; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  position: relative; }

p {
  margin: 0; }

h3 {
  text-transform: unset; }

ol,
ul {
  padding: 0; }

a {
  text-decoration: none; }

.container,
.container-fluid {
  padding: 0; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, #f7f7f7 23.8%, #fcdddd 92%); }

.audio-container {
  margin-top: 7rem;
  display: flex;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: .75rem;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(252, 169, 169, 0.6);
  -moz-box-shadow: 0px 15px 30px 0px rgba(252, 169, 169, 0.6);
  box-shadow: 0px 15px 30px 0px rgba(252, 169, 169, 0.6);
  position: relative; }

.audio-plate {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1.5rem;
  z-index: 1;
  animation: rotateInfinite 3s linear infinite;
  animation-play-state: paused; }
  .audio-plate img {
    width: auto;
    height: 100%; }
  .audio-plate:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.audio-info {
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  padding: .5rem .5rem .75rem 7.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .5rem .5rem 0 0;
  transition: .3s linear;
  transform: translateY(0);
  opacity: 0;
  visibility: hidden; }

.audio-control {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.audio-btn {
  background-color: #fff;
  border: none;
  padding: .5rem;
  cursor: pointer; }
  .audio-btn:focus {
    outline: none; }
  .audio-btn:not(:last-child) {
    margin-right: 2.5rem; }
  .audio-btn i {
    color: lightgray; }
  .audio-btn-big i {
    transform: scale(1.5); }

.audio-container.play .audio-plate {
  animation-play-state: running; }

.audio-container.play .audio-info {
  transform: translateY(-100%);
  opacity: 1;
  visibility: visible; }

.progress {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #fe8daa; }
  .progress-container {
    height: 3px;
    width: 100%;
    background: #fff;
    cursor: pointer;
    margin: .5rem 0;
    position: relative; }

@keyframes rotateInfinite {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
